
/********************** Navbar ***********************/
@font-face{
	font-family: "Gentona";
	src: url("Rene Bieder - Gentona ExtraBold DEMO.otf");
}

@font-face{
	font-family: "Campton";
	src: url("Rene Bieder - Campton Light DEMO.otf");
}

.navbar-brand{
font-family: 'Gentona';
font-size: 57pt;
height: 105px;
line-height: 92px;
border:0px solid #999;
border-radius: 20px;
color: #1475DE !important;
}

.navbar{
border-radius: 20px;
}

.dropdown{
font-size: 18pt;
height: 60px;
font-family: 'Campton';
}


.dropdown-toggle{
height: 55px;
border-radius: 10px;
}

.navbar-right{
	font-size: 10px;
}

.dropdown-menu{
font-size: 15pt;
font-weight: bold;
border-radius: 10px !important;
}

.ask{
left: auto;
right: auto;
text-align: center;
}

.find{
left: -100%;
right: auto;
text-align: center;
}

.help{
left: -400%;
right: auto;
text-align: center;
}

.dropdown-menu > li{
  display: inline-block;
    float:left;
 }
.open> ul {
    display: inline-flex !important;
}

/******************	Index Page ********************/
.left-column{ 
	float: left; 
	width: 32%; 
}
.right-column{ 
	float: right; 
	width: 32%; 
}
.middle-column{ 
	display: inline-block; 
	width: 32%; 
	margin-left: 2%;
}

#my-thumbs-list{
  overflow: auto;
  width: 100%;
  height: auto;
  align:center;
  margin-top:50px;
  /*margin-left:450px;*/
}

.panel-heading{
	font-size: 25px;
}

.panel-body{
	font-size: 20px;
	height: 500px;
}

#threeColumns{
	margin-top: 100px;
}

.more{
	font-size: 25px;
	text-align: left;
}

.carousel{
	width: 100%;
	margin-right:auto;
	margin-left: auto;
	background: #64AADE;
}

.carousel .item {
    overflow: hidden;
    width:50%;
    margin-right:auto;
	margin-left: auto;
}

.carousel-control {
    border-radius: 10px;
}

.carousel-control{
	width:100px;
}

.carousel-caption{
	    font-family: "Arial";
	    font-weight: bold;
}

=======
 .navbar-default .navbar-nav .open .dropdown-menu {
   border-radius: 30px;
  }

.body {
    font-family: "Trebuchet MS";
    color:#2835A3;
}

/******************	Ask Expert Page ********************/
#ThankYouNote{
	display:none;
	margin-top: 100px;
	text-align: center;
}

